body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    margin: 0;
    padding: 0;
    color: #1f2937;
    text-align: center;
}

container {
    width: 90%;
    max-width: 450px;
    margin: 60px auto;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #102a43;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #64748b;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #334155;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
}

input:focus {
    border-color: #2563eb;
    outline: none;
}
button,
a {
    text-decoration: none;
    display: inline-block;
    padding: 13px 25px;
    background-color: #102a43;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

button:hover,
a:hover {
    background-color: #0b1f33;
}

.flash {
    padding: 14px 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    font-weight: 600;
    box-sizing: border-box;
    max-width: 600px;
    text-align: center;

}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f3b3b0;
}
.back-arrow {
    display: block;
    width: fit-content;
    background: transparent;
    font-size: 25px;
    color: #102a43;
    text-decoration: none;
    padding: 0;
    margin: 10px;
    line-height: 1;
}
.back-arrow:hover {
    background-color: transparent;
}