<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <title>SecureBank | Secure Digital Banking</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav class="landing-navbar">
        <div class="landing-logo">
            SecureBank
        </div>
    </nav>
    <main>
        <section class="hero-section">
            <div class="hero-content">
                <p class="hero-label">
                    SECURE DIGITAL BANKING
                </p>
                <h1>
                    Banking made
                    <span>Simple and Secure.</span>
                </h1>

                <p class="hero-descripton">
                    Manage your money, monitor your transactions and stay
                    in control of your finances with SecureBank.
                </p>
                
            </div>
    </main>
</body>
</html>